$gray1: #111111;
$text: $gray1;
$text-gray1: #5d5d65;
$text-gray2: #85858a;
$text-secondary: rgba(0, 0, 0, 0.4);
$bg: #f8f8f7;
$bg2: #fff;
$separator: rgba(17, 17, 17, 0.1);
$transition-duration: 1s;
$main-black: #181717;
$gray4: #e6e6e6; //chip border
$gray5: #656669; //project description on home, page desctiption
$overlay: rgba(25, 25, 23, 0.65);
$img-border: #e8e8e8;
$linckr-gray: #F7F9FD;