body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2{
    font-size: 20px;
    margin: 20px 0 30px;
}
p{
    
        text-align: center;
        color: rgb(184, 5, 5)
    
}
input[type="password"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label{
    font-size: 12px;
    color: #595959;
}
    
button {
    margin-top: 16px;
    padding: 10px 18px;
    background: #111;
    transition: 0.2s;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #363636;
}