@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "normalize.css";
.container {
  max-width: 1180px;
  padding: 0 30px;
}

.product-page header.header-main {
  background-color: #f8f8f7;
}
.product-page header .navbar {
  padding: 24px 0;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}
.product-page header .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-page header .navbar .logo {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 24px */
  display: flex;
  flex-direction: row-reverse;
  text-transform: uppercase;
}
.product-page header .navbar .logo a {
  color: #111111;
  text-decoration: none;
}
.product-page header .navbar .logo::before {
  content: " YULIA VERENICH \a";
  white-space: pre;
  opacity: 1;
  font-weight: 200;
  animation-duration: 2s;
  animation-name: letter-animation;
  animation-timing-function: ease-in;
}
@keyframes letter-animation {
  0% {
    opacity: 0;
    content: " ることのできなのすべて \a";
  }
  4% {
    opacity: 0;
    content: " いタクシーートナーム \a";
  }
  8% {
    content: " ーるこシとのできーな  \a";
  }
  12% {
    content: " Yきなーのとすーーべて  \a";
  }
  16% {
    content: " YUフォートクナーのト  \a";
  }
  20% {
    content: " YUいーとターのクシー  \a";
  }
  24% {
    content: " YULターのーのとすべ   \a";
  }
  28% {
    content: " YULのートーべナーす   \a";
  }
  32% {
    content: " YULIトナきなーのとナ  \a";
  }
  36% {
    content: " YULIべのとすナーーと  \a";
  }
  40% {
    content: " YULIとターのクシート  \a";
  }
  44% {
    content: " YULIAーこシとのきーな  \a";
  }
  48% {
    content: " YULIA ーこシのきーな \a";
  }
  52% {
    content: " YULIA Vきクシートーな \a";
  }
  56% {
    content: " YULIA Vのトーべナーす \a";
  }
  60% {
    content: " YULIA VEシとのきーな \a";
  }
  64% {
    content: " YULIA VERきのとーナ  \a";
  }
  68% {
    content: " YULIA VEREすナーと  \a";
  }
  72% {
    content: " YULIA VERENIクシ  \a";
  }
  76% {
    content: " YULIA VERENICシ  \a";
  }
  80% {
    content: " YULIA VERENICH  \a";
  }
  100% {
    opacity: 1;
    content: " YULIA VERENICH \a";
  }
}
.product-page header .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.product-page header .navbar ul a {
  color: #5d5d65;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  text-decoration: none;
  padding-left: 32px;
  padding: 6px 0;
  margin: 0 20px;
  text-shadow: none;
  position: relative;
}
.product-page header .navbar ul a:active {
  color: #111111;
}
.product-page header .navbar ul a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 6px 0;
  max-width: 0;
  border-bottom: 2px solid #111111;
  color: #111111;
  content: attr(data-hover);
  transition: max-width 0.4s;
}
.product-page header .navbar ul a:hover::before {
  max-width: 100%;
}
.product-page .product-preview h1 {
  color: #111111;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin: 0;
}
.product-page .product-preview > .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 40px 30px 56px;
}
.product-page .product-preview .breadcrumbs-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.product-page .product-preview .breadcrumbs-wrapper svg {
  fill: #5d5d65;
}
.product-page .product-preview .breadcrumbs-wrapper a {
  color: #5d5d65;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  padding: 4px 0;
  margin: 0 4px;
  text-shadow: none;
  position: relative;
}
.product-page .product-preview .breadcrumbs-wrapper a:active {
  color: #111111;
}
.product-page .product-preview .breadcrumbs-wrapper a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 4px 0;
  max-width: 0;
  border-bottom: 2px solid #111111;
  color: #111111;
  content: attr(data-hover);
  transition: max-width 0.4s;
}
.product-page .product-preview .breadcrumbs-wrapper a:hover::before {
  max-width: 100%;
}
.product-page .product-preview .wrapper {
  overflow: hidden;
  z-index: 1;
  height: 800px;
}
.product-page .product-preview .wrapper.linkr {
  background: url(../img/linkr/preview-bg.png);
  background-size: cover;
}
.product-page .product-preview .wrapper.innovibe {
  background: url(../img/innovibe/preview-bg.png);
  background-size: cover;
}
.product-page .product-preview .wrapper.superdeck {
  background: url(../img/superdeck/superdeck-bg.png);
  background-size: cover;
}
.product-page .product-preview .product-preview-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.product-page .product-preview .product-preview-images img {
  max-width: 85%;
}
.product-page .product .container {
  border-bottom: 1px solid #e8e8e8;
  padding: 100px 30px;
}
.product-page .product .container.no-border-bottom {
  border-bottom: none;
}
.product-page .product .text-row ol li,
.product-page .product .text-row ul li {
  width: 100%;
  margin-bottom: 12px;
}
.product-page .product .text-row ol li p,
.product-page .product .text-row ul li p {
  padding-right: 20%;
}
.product-page .product .text-row h4 {
  margin-top: 48px;
  margin-bottom: 32px;
}
.product-page .product .one-image-row {
  margin-top: 64px;
  margin-bottom: 24px;
  margin-bottom: 80px;
}
.product-page .product .text-row h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #111111;
  margin: 0 0 48px 0;
  text-transform: capitalize;
}
.product-page .product .text-row p {
  padding-right: 50%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  margin: 0 0 24px 0;
}
.product-page .product .text-row p:nth-last-of-type(1) {
  margin: 0;
}
.product-page .product .text-row p span {
  font-weight: 500;
}
.product-page .product .text-row ol,
.product-page .product .text-row ul {
  width: 70%;
  margin-bottom: 12px;
}
.product-page .product .text-row ol li,
.product-page .product .text-row ul li {
  margin: 0 0 12px 0;
}
.product-page .product .text-row ol li:nth-last-of-type(1),
.product-page .product .text-row ul li:nth-last-of-type(1) {
  margin: 0;
}
.product-page .product .text-row ol.no-margin,
.product-page .product .text-row ul.no-margin {
  margin-bottom: 0;
}
.product-page .product .text-row h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #85858a;
  margin-top: 0;
  margin-bottom: 32px;
}
.product-page .product .text-row a {
  color: blue;
  display: flex;
  font-size: 18px;
}
.product-page .product .text-row a .popout {
  display: flex;
  padding-left: 8px;
}
.product-page .product .text-row a:link {
  text-decoration: underline;
  color: blue;
}
.product-page .product .text-row a:visited {
  text-decoration: underline;
  color: blue;
}
.product-page .product .text-row a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 121);
}
.product-page .product .text-row a:active {
  text-decoration: underline;
  color: blue;
}
.product-page .product .text-row.margin-bottom {
  margin-bottom: 80px;
}
.product-page .product .text-row.link {
  margin-top: 48px;
}
.product-page .product .text-row.link h4 {
  margin-bottom: 12px;
}
.product-page .product .text-row.link img {
  width: 22px;
}
.product-page .product.features .text-row h3 {
  margin-bottom: 80px;
}
.product-page .product .two-cells-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 48px;
}
.product-page .product .two-cells-row h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #85858a;
  margin-top: 0;
  margin-bottom: 8px;
}
.product-page .product .two-cells-row .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-page .product .two-cells-row .left img {
  width: 60%;
}
.product-page .product .two-cells-row .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-page .product .two-cells-row .right img {
  width: 60%;
}
.product-page .product .two-cells-row.no-margin-bottom {
  margin-bottom: 0;
}
.product-page .product .one-image-row {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}
.product-page .product .one-image-row img {
  width: 100%;
  border: 1px solid #e8e8e8;
}
.product-page .product .one-image-row img.no-border {
  border: none;
}
.product-page .product .one-image-row.no-margin-bottom {
  margin-bottom: 0;
}
.product-page .product .one-image-row.no-margin-top {
  margin-top: 0;
}
.product-page .product .one-image-row.no-margin {
  margin: 0;
}
.product-page .product .project {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  border-bottom: 1px solid #e8e8e8;
}
.product-page .product .project:nth-last-of-type(1) {
  padding-bottom: 0;
  border-bottom: none;
}
.product-page .product .project:first-child {
  padding-top: 24px;
}
.product-page .product .project .info {
  width: 60%;
  height: auto;
  padding: 16px 15% 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.product-page .product .project .info h4 {
  color: #111111;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}
.product-page .product .project .info p {
  color: #85858a;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  margin: 0 0 12px 0;
}
.product-page .product .project .info .btn {
  border: 1px solid #111111;
  padding: 10px 18px;
  background: transparent;
  transition: 0.4s;
  margin-right: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #111111;
}
.product-page .product .project .info .btn.btn-swipe:hover {
  box-shadow: inset 150px 0 0 0 #111111;
  color: #fff;
}
.product-page .product .preview {
  width: 35%;
}
.product-page .product .preview img {
  width: 100%;
  border: 1px solid #e8e8e8;
}
.product-page .product .full-width-container {
  line-height: 0;
}
.product-page .product .full-width-container img {
  width: 100%;
}
.product-page.linckr .product .full-width-container {
  background-color: #F7F9FD;
}
.product-page.innovibe .product .two-cells-row p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  margin: 0 0 24px 0;
}
.product-page.innovibe .product .two-cells-row p:nth-last-of-type(1) {
  margin: 0;
}
.product-page.innovibe .product .two-cells-row p span {
  font-weight: 500;
}
.product-page.innovibe .product .two-cells-row ol,
.product-page.innovibe .product .two-cells-row ul {
  width: 80%;
  margin-bottom: 12px;
}
.product-page.innovibe .product .two-cells-row ol li,
.product-page.innovibe .product .two-cells-row ul li {
  margin: 0 0 12px 0;
}
.product-page.innovibe .product .two-cells-row ol li:nth-last-of-type(1),
.product-page.innovibe .product .two-cells-row ul li:nth-last-of-type(1) {
  margin: 0;
}
.product-page.innovibe .product .two-cells-row ol.no-margin,
.product-page.innovibe .product .two-cells-row ul.no-margin {
  margin-bottom: 0;
}
.product-page.innovibe .product .two-cells-row h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #85858a;
  margin-top: 0;
  margin-bottom: 32px;
}
.product-page.innovibe .product .two-cells-row .left {
  align-items: start;
  width: 45%;
}
.product-page.innovibe .product .two-cells-row .right {
  align-items: end;
}
.product-page.innovibe .product .two-cells-row .right img {
  width: 90%;
}
.product-page.innovibe .product.wireframes .full-width-container {
  padding: 80px 8%;
  background: #f8f8f7;
}
.product-page.innovibe .product.wireframes .two-cells-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 64px;
}
.product-page.innovibe .product.wireframes .two-cells-row.no-margin-bottom {
  margin-bottom: 0;
}
.product-page.innovibe .product.wireframes .two-cells-row .left,
.product-page.innovibe .product.wireframes .two-cells-row .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 42%;
  align-items: flex-start;
}
.product-page.innovibe .product.wireframes .two-cells-row .left img,
.product-page.innovibe .product.wireframes .two-cells-row .right img {
  width: 100%;
}
.product-page.innovibe .product.ui .full-width-container {
  padding: 0 8% 40px;
  display: flex;
  justify-content: center;
}
.product-page.innovibe .product.practitioner .container {
  border-top: 1px solid #e8e8e8;
}
.product-page.innovibe .product.videos .full-width-container {
  padding: 80px 8%;
  display: flex;
  justify-content: center;
  background-image: url(../img/innovibe/prototype-bg.png);
  background-size: cover;
}
.product-page.innovibe .product.videos h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #85858a;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}
.product-page.innovibe .product.videos .media-content {
  width: 78%;
  max-width: 1120px;
  border-radius: 16px;
  margin-bottom: 40px;
}
.product-page.innovibe .product.videos .wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-page.innovibe .product.videos #playPauseButton {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 28px 6px 24px;
  margin-top: 24px;
  background: #e9705d;
  transition: all 0.4s;
  border-radius: 16px;
}
.product-page.innovibe .product.videos #playPauseButton svg {
  fill: white;
  width: 32px; /* adjust size as needed */
  height: 32px; /* adjust size as needed */
  transition: all 0.4s;
  opacity: 0.95;
}
.product-page.innovibe .product.videos #playPauseButton p {
  color: white;
  line-height: 32px;
  margin-left: 8px;
  margin-bottom: 13px;
  font-weight: 500;
  transition: all 0.4s;
  opacity: 0.95;
}
.product-page.innovibe .product.videos #playPauseButton:hover {
  background: #de5d4a;
}
.product-page.innovibe .product.videos #playPauseButton:hover svg {
  fill: white;
  opacity: 1;
}
.product-page.innovibe .product.videos #playPauseButton:hover p {
  color: white;
  opacity: 1;
}
.product-page.innovibe .product.responsive-img {
  background-color: #f8f8f7;
}
.product-page.innovibe .product.responsive-img .full-width-container {
  padding: 0 8%;
}
.product-page.innovibe .product.responsive-img .full-width-container .one-image-row {
  margin: 0;
  display: flex;
  justify-content: center;
}
.product-page.innovibe .product.responsive-img .full-width-container img {
  max-width: 1360px;
}
.product-page.superdeck .product.ui {
  background: url(../img/superdeck/superdeck-bg.png);
  background-size: cover;
}
.product-page.superdeck .product.ui .container {
  padding: 0;
  line-height: 0;
}
.product-page.superdeck .product.ui img {
  width: 100%;
}
.product-page.superdeck .product.results .full-width-container {
  line-height: 0;
}
.product-page.superdeck .product.results img {
  width: 100%;
}
.product-page.superdeck .product.videos .full-width-container {
  padding: 80px 8%;
  display: flex;
  justify-content: center;
  background-image: url(../img/superdeck/superdeck-bg.png);
  background-size: cover;
}
.product-page.superdeck .product.videos h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #85858a;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}
.product-page.superdeck .product.videos .media-content {
  width: 78%;
  max-width: 1120px;
  margin-bottom: 40px;
}
.product-page.superdeck .product.videos .wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-page.superdeck .product.videos #playPauseButton {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 28px 6px 24px;
  margin-top: 24px;
  background: #315ef7;
  transition: all 0.4s;
  border-radius: 12px;
}
.product-page.superdeck .product.videos #playPauseButton svg {
  fill: white;
  width: 32px; /* adjust size as needed */
  height: 32px; /* adjust size as needed */
  transition: all 0.4s;
  opacity: 0.95;
}
.product-page.superdeck .product.videos #playPauseButton p {
  color: white;
  line-height: 32px;
  margin-left: 8px;
  margin-bottom: 13px;
  font-weight: 500;
  transition: all 0.4s;
  opacity: 0.95;
}
.product-page.superdeck .product.videos #playPauseButton:hover {
  background: #1c4ef4;
}
.product-page.superdeck .product.videos #playPauseButton:hover svg {
  fill: white;
  opacity: 1;
}
.product-page.superdeck .product.videos #playPauseButton:hover p {
  color: white;
  opacity: 1;
}

footer .container {
  padding: 120px 30px;
}
footer .container h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  color: #111111;
  margin: 0 0 64px 0;
}
footer .container .wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer .container .wrapper .card {
  height: 360px;
  background-color: #f8f8f7;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  display: flex;
  width: 48%;
}
footer .container .wrapper .card a {
  display: flex;
  width: 100%;
  height: 100%;
  background-size: auto 70%;
  background-position: center;
  background-repeat: no-repeat;
}
footer .container .wrapper .card:hover .user-content {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
footer .container .wrapper .card .user-content {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: relative;
  height: 100%;
  width: 100%;
}
footer .container .wrapper .card .user-content.show-on-mobile {
  display: none;
}
footer .container .wrapper .card .overlay {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
footer .container .wrapper .card .overlay:hover {
  background: rgba(25, 25, 23, 0.65);
  transition: all 0.5s ease-in-out;
}
footer .container .wrapper .card .name {
  position: absolute;
  bottom: 24px;
  left: 32px;
}
footer .container .wrapper .card .name h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 8px 0;
}
footer .container .wrapper .card .name p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
}
footer .container .wrapper .card .arrow {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 24px;
  top: 24px;
}
footer .container .wrapper .more-gameblyo a {
  background-image: url(../img/gameblyo/gameblyo-preview.png);
}
footer .container .wrapper .more-innovibe a {
  background-image: url(../img/innovibe/innovibe-preview.png);
}
footer .container .wrapper .more-superdeck a {
  background-image: url(../img/superdeck/superdeck-preview.png);
}
footer .container .wrapper .more-linckr a {
  background-image: url(../img/linkr/linkr-preview.png);
}
footer .very-bottom {
  background-color: #111;
}
footer .very-bottom .container {
  padding: 24px;
  display: flex;
  justify-content: center;
  color: #fff;
}
footer .very-bottom .container p {
  margin: 0;
}

@media screen and (max-width: 1320px) {
  .container {
    max-width: 1180px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .product-page .product .container {
    border-bottom: 1px solid #e8e8e8;
    padding: 100px 60px;
  }
  footer .container {
    padding: 120px 60px;
  }
  footer .container .wrapper .card {
    height: 300px;
  }
  .product-page .text-row.link {
    padding-right: 0;
  }
  .product-page .product-preview > .container {
    padding: 40px 60px 56px;
  }
  .product-page .product .two-cells-row .right {
    width: 50%;
  }
  .product-page .product .text-row ol li p,
  .product-page .product .text-row ul li p {
    padding-right: 30%;
  }
  .product-page.innovibe .product.videos .media-content,
  .product-page.superdeck .product.videos .media-content {
    width: 90%;
  }
}
@media screen and (max-width: 1080px) {
  .product-page .product-preview h1 {
    font-size: 56px;
  }
  .product-page .product .preview {
    width: 40%;
  }
  .product-page .product .project .info {
    width: 55%;
    padding: 16px 7% 16px 0;
  }
  .product-page .product-preview .wrapper {
    height: 600px;
  }
  .product-page.innovibe .product.videos .full-width-container,
  .product-page.superdeck .product.videos .full-width-container {
    padding: 64px 64px;
  }
  .product-page.innovibe .product.videos .media-content,
  .product-page.superdeck .product.videos .media-content {
    width: 100%;
    margin-bottom: 24px;
  }
  .product-page .product .one-image-row {
    margin-bottom: 64px;
  }
  .product-page.superdeck .product .text-row ol li p,
  .product-page.superdeck .product .text-row ul li p {
    padding-right: 20%;
  }
}
@media screen and (max-width: 880px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .product-page .product .container {
    border-bottom: 1px solid #e8e8e8;
    padding: 80px 40px;
  }
  .product-page .product-preview > .container {
    padding: 40px 40px 56px;
  }
  footer .container {
    padding: 100px 40px;
  }
  footer .container .wrapper .card {
    height: 260px;
  }
  .product-page .product-preview h1 {
    font-size: 48px;
  }
  .product-page .product .preview {
    width: 45%;
  }
  .product-page .product .project .info {
    width: 52%;
    padding: 8px 3% 8px 0;
  }
  .product-page .text-row {
    padding-right: 0;
  }
  .product-page .product .text-row p {
    padding-right: 15%;
  }
  .product-page .product.features .text-row h3,
  .product-page .text-row h3 {
    font-size: 32px;
    margin: 0 0 40px 0;
  }
  .product-page .product-preview .product-preview-images img {
    max-width: 90%;
  }
  .product-page .product-preview .wrapper {
    height: 500px;
  }
  .product-page .product .one-image-row {
    margin-top: 60px;
  }
  .product-page .product .text-row.margin-bottom {
    margin-bottom: 48px;
  }
  .product-page.innovibe .product .two-cells-row h4 {
    margin-bottom: 16px;
  }
  .product-page.innovibe .product.videos .full-width-container,
  .product-page.superdeck .product.videos .full-width-container {
    padding: 64px 40px;
  }
  .product-page.innovibe .product .text-row ol li p,
  .product-page.innovibe .product .text-row ul li p,
  .product-page.superdeck .product .text-row ol li p,
  .product-page.superdeck .product .text-row ul li p {
    padding-right: 0;
  }
  .product-page.innovibe .product.wireframes .full-width-container {
    padding: 80px 40px;
  }
  .product-page.innovibe .product.wireframes .two-cells-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 48px;
  }
  .product-page.innovibe .product.wireframes .two-cells-row .left,
  .product-page.innovibe .product.wireframes .two-cells-row .right {
    width: 100%;
  }
  .product-page.innovibe .product.wireframes .two-cells-row .left {
    margin-bottom: 48px;
  }
  .product-page .product-preview .wrapper {
    height: 580px;
  }
}
@media screen and (max-width: 769px) {
  .product-page .product-preview h1 {
    font-size: 48px;
  }
  .product-page .product-preview .product-preview-images img {
    max-width: 85%;
  }
  .product-page .product-preview > .container {
    padding: 40px 40px;
  }
  .product-page .product-preview .breadcrumbs-wrapper {
    margin-bottom: 16px;
  }
  .product-page .product-preview .wrapper {
    height: 450px;
  }
  footer .container {
    padding: 80px 40px;
  }
  .product-page .product .project .info h4 {
    font-size: 20px;
  }
  .product-page .product .project {
    flex-direction: column-reverse;
  }
  .product-page .product .project .info {
    width: 100%;
    padding: 8px 25% 8px 0;
  }
  .product-page .product .preview {
    width: 100%;
    margin-bottom: 24px;
  }
  .product-page .product .project .info .btn {
    width: 200px;
    text-align: center;
    margin-top: 16px;
  }
  .product-page .product .project .info .btn.btn-swipe:hover {
    box-shadow: inset 250px 0 0 0 #111111;
    color: #fff;
  }
  .product-page .product .text-row h3 {
    margin: 0 0 40px 0;
  }
  .product-page .product .two-cells-row .right {
    width: 50%;
  }
  .product-page .product .two-cells-row .left {
    width: 40%;
    margin-right: 10%;
  }
  .product-page .product .preview {
    width: 50%;
  }
  .product-page .product .project {
    padding: 20px 0;
  }
  .product-page .product .text-row ol,
  .product-page .product .text-row ul {
    width: 100%;
  }
  footer .container .wrapper {
    flex-direction: column;
  }
  footer .container .wrapper .card {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 64px;
  }
  footer .container .wrapper .card:nth-last-child(1) {
    margin-bottom: 0;
  }
  footer .container .wrapper .card.more-linckr, footer .container .wrapper .card.more-superdeck, footer .container .wrapper .card.more-innovibe, footer .container .wrapper .card.more-gameblyo {
    margin-left: 0px;
    margin-right: 0px;
  }
  footer .container .wrapper .card .overlay {
    height: 300px;
  }
  footer .container .wrapper .card .overlay:hover {
    background: transparent;
  }
  footer .container .wrapper .card:hover .user-content {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
  footer .container .wrapper .card .user-content {
    opacity: 1;
    display: none;
  }
  footer .container .wrapper .card .user-content.show-on-mobile {
    display: block;
    background: white;
  }
  footer .container .wrapper .card .user-content.show-on-mobile a {
    background-size: auto;
    background-image: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    text-decoration: none;
    background-position: 0;
    background-repeat: no-repeat;
  }
  footer .container .wrapper .card .user-content.show-on-mobile .name {
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 0;
    cursor: pointer;
  }
  footer .container .wrapper .card .user-content.show-on-mobile .name h3 {
    color: #111111;
  }
  footer .container .wrapper .card .user-content.show-on-mobile .name p {
    color: #5d5d65;
  }
  footer .container .wrapper .card .user-content.show-on-mobile svg.arrow {
    position: relative;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    stroke: #111111;
  }
  .product-page header .navbar .logo {
    font-size: 18px;
    text-wrap: nowrap;
  }
  .product-page header .navbar ul li a {
    margin: 0 0 0 24px;
    font-size: 16px;
  }
  .product-page header .navbar ul li:nth-last-child(2) a {
    margin: 0;
  }
  .product-page .text-row a .hide {
    display: none;
  }
  .product-page .product .project {
    padding: 60px 0;
  }
  .product-page .product .project:first-child {
    padding-top: 24px;
  }
  .product-page .product .project:nth-last-of-type(1) {
    padding-bottom: 16px;
  }
  .product-page .product .two-cells-row {
    align-items: start;
    margin-bottom: 48px;
    flex-direction: column;
  }
  .product-page.innovibe .product .two-cells-row .left {
    align-items: start;
    width: 85%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .product-page.innovibe .product .two-cells-row .right {
    width: 100%;
    align-items: flex-start;
  }
  .product-page.innovibe .product .two-cells-row .right img {
    width: 100%;
  }
  .product-page .product .one-image-row {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .product-page.linckr .product .two-cells-row .left,
  .product-page.linckr .product .two-cells-row .right {
    width: 50%;
    padding: 2%;
  }
  .product-page.linckr .product .two-cells-row .left img,
  .product-page.linckr .product .two-cells-row .right img {
    width: 90%;
  }
  .product-page.linckr .product .two-cells-row {
    margin-bottom: 48px;
    flex-direction: row;
  }
}
@media screen and (max-width: 560px) {
  .product-page header .container {
    padding: 0 24px;
  }
  .product-page header nav .container {
    padding: 0 24px;
  }
  .product-page header .navbar {
    padding: 16px 0;
  }
  .product-page header .navbar .logo {
    font-size: 18px;
    text-wrap: nowrap;
  }
  .product-page header .navbar .logo span {
    display: none;
  }
  .product-page header .navbar .logo::before {
    display: none;
  }
  .product-page header .navbar ul li a {
    margin: 0 0 0 18px;
  }
  .product-page header .navbar ul li:nth-last-child(2) a {
    margin: 0;
  }
  .product-page .product-preview .container {
    padding: 24px 24px;
  }
  .product-page .product-preview h1 {
    font-size: 32px;
  }
  .product-page .product-preview .breadcrumbs-wrapper {
    margin-bottom: 16px;
  }
  .product-page .product-preview .wrapper {
    height: 440px;
  }
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
  .product-page .product .container {
    border-bottom: 1px solid #e8e8e8;
    padding: 64px 24px;
  }
  .product-page .product-preview > .container {
    padding: 24px;
  }
  footer .container {
    padding: 64px 24px;
  }
  .product-page .text-row {
    padding-right: 0;
  }
  footer .container h3 {
    margin: 0 0 32px 0;
  }
  footer .container .wrapper .card {
    margin-bottom: 24px;
  }
  footer .container .wrapper .card .overlay {
    height: auto;
  }
  footer .container .wrapper .card .user-content.show-on-mobile .name {
    padding: 12px 0;
  }
  footer .discover-page .container {
    padding: 64px 24px;
  }
  footer .container .wrapper .card .overlay {
    height: 240px;
  }
  .product-page .product .project {
    padding: 64px 0;
  }
  .product-page .text-row h3 {
    font-size: 28px;
    margin: 0 0 32px 0;
  }
  footer .container h3 {
    margin: 0 0 48px 0;
    font-size: 28px;
  }
  .product-page .text-row p {
    margin: 0 0 14px 0;
  }
  .product-page .text-row a {
    font-size: 16px;
  }
  .product-page .text-row.link {
    margin-top: 32px;
  }
  .product-page .product .project .info {
    padding: 0;
  }
  .product-page .product .project .info p {
    margin: 0 0 12px 0;
  }
  .product-page .product.exp22 .two-cells-row {
    margin-top: 24px;
  }
  footer .container .wrapper .card {
    margin-bottom: 40px;
  }
  .product-page .product .two-cells-row {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .product-page .product .two-cells-row .right {
    width: 85%;
  }
  .product-page .product .two-cells-row .left {
    width: 60%;
    margin-right: 0;
  }
  .product-page .product .text-row h3 {
    font-size: 28px;
    margin: 0 0 32px 0;
  }
  .product-page .product .preview {
    width: 100%;
  }
  .product-page .product .project {
    padding: 16px 0;
  }
  .product-page .product .one-image-row.no-margin-bottom {
    margin-bottom: 0;
  }
  .product-page .product .one-image-row {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .product-page.innovibe .product.videos .full-width-container {
    padding: 48px 24px;
  }
  .product-page.innovibe .product .text-row ol,
  .product-page.innovibe .product .text-row ul {
    width: 85%;
  }
  .product-page .product-preview .wrapper {
    height: 380px;
  }
  .product-page.innovibe .product.responsive-img .full-width-container {
    padding: 0;
  }
  .product-page.linckr .product .two-cells-row .left img,
  .product-page.linckr .product .two-cells-row .right img {
    width: 100%;
  }
  .product-page.innovibe .product.videos .full-width-container,
  .product-page.superdeck .product.videos .full-width-container {
    padding: 64px 24px;
  }
}
@media screen and (max-width: 431px) {
  .product-page header .container {
    padding: 0 20px;
  }
  .product-page header nav .container {
    padding: 0 20px;
  }
  .product-page header .navbar {
    padding: 16px 0;
  }
  .product-page header .navbar .logo {
    font-size: 18px;
    text-wrap: nowrap;
  }
  .product-page header .navbar .logo span {
    display: none;
  }
  .product-page header .navbar .logo::before {
    display: none;
  }
  .product-page header .navbar ul li a {
    margin: 0 0 0 18px;
  }
  .product-page header .navbar ul li:nth-last-child(2) a {
    margin: 0;
  }
  .product-page main .container {
    padding: 0 20px;
  }
  .product-page .product-preview .wrapper {
    height: 260px;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .product-page .product .container {
    border-bottom: 1px solid #e8e8e8;
    padding: 48px 20px;
  }
  .product-page .product-preview > .container {
    padding: 20px;
  }
  footer .container {
    padding: 52px 20px;
  }
  .product-page .text-row h3 {
    font-size: 24px;
    margin: 0 0 24px 0;
  }
  .product-page .product .project .info p {
    font-size: 14px;
  }
  .product-page .product .project {
    padding: 48px 0;
  }
  .product-page .text-row h4 {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .product-page .product .project .info .btn {
    width: 100%;
  }
  .product-page .product .project .info .btn.btn-swipe:hover {
    box-shadow: inset 360px 0 0 0 #111111;
    color: #fff;
  }
  .product-page .product-preview h1 {
    margin: 12px 0 8px;
  }
  .product-page .product .preview {
    width: 100%;
  }
  .product-page .product .one-image-row {
    margin-top: 40px;
  }
  .product-page .product.worksheet .one-image-row {
    overflow: hidden;
  }
  .product-page .product.worksheet .one-image-row img {
    width: 165%;
  }
  .product-page .product .two-cells-row .left {
    width: 90%;
  }
  .product-page .product .text-row p {
    padding-right: 0;
  }
  .product-page .product .two-cells-row .right {
    width: 100%;
  }
  .product-page .product .two-cells-row {
    margin-bottom: 40px;
  }
  .product-page .product .project {
    padding: 16px 0;
  }
  .product-page .product .project {
    padding: 48px 0;
  }
  .product-page .product .project:first-child {
    padding-top: 8px;
  }
  .product-page .product .project:nth-last-of-type(1) {
    padding-bottom: 16px;
  }
  .product-page .product .text-row h4 {
    margin-bottom: 20px;
  }
  .product-page.innovibe .product .two-cells-row .left {
    width: 100%;
  }
  .product-page.innovibe .product.wireframes .full-width-container {
    padding: 48px 20px;
  }
  .product-page.superdeck .product.videos .full-width-container,
  .product-page.innovibe .product.videos .full-width-container {
    padding: 40px 20px;
  }
  .product-page.innovibe .product.videos .media-content {
    border-radius: 8px;
    margin-bottom: 8px;
  }
  .product-page.superdeck .product.videos .media-content {
    margin-bottom: 8px;
  }
  .product-page .product .one-image-row {
    margin-top: 32px;
  }
  .product-page.innovibe .product .text-row ol,
  .product-page.innovibe .product .text-row ul,
  .product-page.superdeck .product .text-row ol,
  .product-page.superdeck .product .text-row ul {
    width: 100%;
  }
  .product-page .product .text-row ol li p,
  .product-page .product .text-row ul li p {
    padding-right: 0;
  }
  .product-page.linckr .product .two-cells-row .left,
  .product-page.linckr .product .two-cells-row .right {
    padding: 0%;
  }
  .product-page .product .text-row a {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .product-page .product .two-cells-row .left {
    width: 100%;
  }
  .product-page.linckr .product .two-cells-row {
    margin-bottom: 48px;
    flex-direction: column;
  }
  .product-page.linckr .product .two-cells-row .left,
  .product-page.linckr .product .two-cells-row .right {
    padding: 5%;
    width: 100%;
  }
  .product-page.linckr .product .two-cells-row h4 {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=product.css.map */